<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    function solution(n) {
        if (n <= 1) return n;
        let i = 0;
        let numArr = [];
        numArr.push(0);
        numArr.push(1);

        for (i = 0; i < n - 1; i++) {
            let number = numArr[numArr.length - 1] + numArr[numArr.length - 2];
            numArr.push(number);
        }

        return numArr[numArr.length - 1];
    }

</script>

<div class="problem-statement flex ng-scope" ng-if="statusData.selectedProblem" style="">
    <h2><span class="task-number ng-binding">1/3</span>
        <span class="task-title ng-binding">피보나치 수열</span></h2>
    <div class="stage-task-content">
        <div class="banner-box ng-scope">
            <span class="col-md-6 align-center ng-binding">시간 제한 : 2초</span>
            <span class="col-md-6 align-center ng-binding">메모리 제한 : 256MB</span>
        </div>
        <h3>문제 설명</h3>
        <div class="detail" bind-html-compiled="statusData.selectedProblem.parsedBodyHtml"><p class="ng-scope">피보나치 수는 0과 1로 시작하며, 다음 피보나치 수는 바로 앞의 두 피보나치 수의 합이 된다.<br>n = 0, 1,...에 해당하는 피보나치 수는 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ... 이다.<br><br>n번째 피보나치 수를 리턴하시오.</p></div>
        <h3>참고 / 제약 사항</h3>
        <ul class="ng-scope task-constraints">
            <!-- ngRepeat: constraint in statusData.selectedProblem.constraints --><li ng-repeat="constraint in statusData.selectedProblem.constraints" ng-bind-html="constraint.value" class="ng-binding ng-scope">0 &lt;= n &lt;= 80</li><!-- end ngRepeat: constraint in statusData.selectedProblem.constraints --><li ng-repeat="constraint in statusData.selectedProblem.constraints" ng-bind-html="constraint.value" class="ng-binding ng-scope">리턴 타입이 int가 아니라는것에 유의!</li><!-- end ngRepeat: constraint in statusData.selectedProblem.constraints -->
        </ul>
        <h3>테스트 케이스</h3>
        <ol id="task-sample">
            <!-- ngRepeat: testCase in statusData.selectedProblem.testCaseData --><li ng-repeat="testCase in statusData.selectedProblem.testCaseData" class="ng-scope">
            <!-- ngRepeat: param in statusData.selectedProblem.inputParams --><div ng-repeat="param in statusData.selectedProblem.inputParams" style="margin-bottom: 5px;" name="param.name" type="param.type" parameter-display="testCase.i[$index]" language="statusData.recentExamData.language.name" class="ng-scope ng-isolate-scope"><!-- ngIf: name --><span ng-if="name" class="ng-binding ng-scope">int n =</span><!-- end ngIf: name -->
            <!-- ngIf: type.startsWith('list') -->
            <!-- ngIf: !type.startsWith('list') --><span ng-if="!type.startsWith('list')" class="ng-binding ng-scope">
    <!-- ngIf: type==='string' -->0<!-- ngIf: type==='string' -->
</span><!-- end ngIf: !type.startsWith('list') --></div><!-- end ngRepeat: param in statusData.selectedProblem.inputParams -->
            <span>리턴(정답):</span>
            <span type="statusData.selectedProblem.outputParam.type" parameter-display="testCase.o" language="statusData.recentExamData.language.name" class="ng-isolate-scope"><!-- ngIf: name -->
                <!-- ngIf: type.startsWith('list') -->
                <!-- ngIf: !type.startsWith('list') --><span ng-if="!type.startsWith('list')" class="ng-binding ng-scope">
    <!-- ngIf: type==='string' -->0<!-- ngIf: type==='string' -->
</span><!-- end ngIf: !type.startsWith('list') --></span>
            <!-- ngIf: testCase.description && testCase.description.length > 0 --><div class="testCase-description well ng-binding ng-scope" ng-if="testCase.description &amp;&amp; testCase.description.length > 0" ng-bind-html="testCase.description"><p>0번째 피보나치 수는 0 이다.</p></div><!-- end ngIf: testCase.description && testCase.description.length > 0 -->
        </li><!-- end ngRepeat: testCase in statusData.selectedProblem.testCaseData --><li ng-repeat="testCase in statusData.selectedProblem.testCaseData" class="ng-scope">
            <!-- ngRepeat: param in statusData.selectedProblem.inputParams --><div ng-repeat="param in statusData.selectedProblem.inputParams" style="margin-bottom: 5px;" name="param.name" type="param.type" parameter-display="testCase.i[$index]" language="statusData.recentExamData.language.name" class="ng-scope ng-isolate-scope"><!-- ngIf: name --><span ng-if="name" class="ng-binding ng-scope">int n =</span><!-- end ngIf: name -->
            <!-- ngIf: type.startsWith('list') -->
            <!-- ngIf: !type.startsWith('list') --><span ng-if="!type.startsWith('list')" class="ng-binding ng-scope">
    <!-- ngIf: type==='string' -->1<!-- ngIf: type==='string' -->
</span><!-- end ngIf: !type.startsWith('list') --></div><!-- end ngRepeat: param in statusData.selectedProblem.inputParams -->
            <span>리턴(정답):</span>
            <span type="statusData.selectedProblem.outputParam.type" parameter-display="testCase.o" language="statusData.recentExamData.language.name" class="ng-isolate-scope"><!-- ngIf: name -->
                <!-- ngIf: type.startsWith('list') -->
                <!-- ngIf: !type.startsWith('list') --><span ng-if="!type.startsWith('list')" class="ng-binding ng-scope">
    <!-- ngIf: type==='string' -->1<!-- ngIf: type==='string' -->
</span><!-- end ngIf: !type.startsWith('list') --></span>
            <!-- ngIf: testCase.description && testCase.description.length > 0 -->
        </li><!-- end ngRepeat: testCase in statusData.selectedProblem.testCaseData --><li ng-repeat="testCase in statusData.selectedProblem.testCaseData" class="ng-scope">
            <!-- ngRepeat: param in statusData.selectedProblem.inputParams --><div ng-repeat="param in statusData.selectedProblem.inputParams" style="margin-bottom: 5px;" name="param.name" type="param.type" parameter-display="testCase.i[$index]" language="statusData.recentExamData.language.name" class="ng-scope ng-isolate-scope"><!-- ngIf: name --><span ng-if="name" class="ng-binding ng-scope">int n =</span><!-- end ngIf: name -->
            <!-- ngIf: type.startsWith('list') -->
            <!-- ngIf: !type.startsWith('list') --><span ng-if="!type.startsWith('list')" class="ng-binding ng-scope">
    <!-- ngIf: type==='string' -->2<!-- ngIf: type==='string' -->
</span><!-- end ngIf: !type.startsWith('list') --></div><!-- end ngRepeat: param in statusData.selectedProblem.inputParams -->
            <span>리턴(정답):</span>
            <span type="statusData.selectedProblem.outputParam.type" parameter-display="testCase.o" language="statusData.recentExamData.language.name" class="ng-isolate-scope"><!-- ngIf: name -->
                <!-- ngIf: type.startsWith('list') -->
                <!-- ngIf: !type.startsWith('list') --><span ng-if="!type.startsWith('list')" class="ng-binding ng-scope">
    <!-- ngIf: type==='string' -->1<!-- ngIf: type==='string' -->
</span><!-- end ngIf: !type.startsWith('list') --></span>
            <!-- ngIf: testCase.description && testCase.description.length > 0 -->
        </li><!-- end ngRepeat: testCase in statusData.selectedProblem.testCaseData --><li ng-repeat="testCase in statusData.selectedProblem.testCaseData" class="ng-scope">
            <!-- ngRepeat: param in statusData.selectedProblem.inputParams --><div ng-repeat="param in statusData.selectedProblem.inputParams" style="margin-bottom: 5px;" name="param.name" type="param.type" parameter-display="testCase.i[$index]" language="statusData.recentExamData.language.name" class="ng-scope ng-isolate-scope"><!-- ngIf: name --><span ng-if="name" class="ng-binding ng-scope">int n =</span><!-- end ngIf: name -->
            <!-- ngIf: type.startsWith('list') -->
            <!-- ngIf: !type.startsWith('list') --><span ng-if="!type.startsWith('list')" class="ng-binding ng-scope">
    <!-- ngIf: type==='string' -->3<!-- ngIf: type==='string' -->
</span><!-- end ngIf: !type.startsWith('list') --></div><!-- end ngRepeat: param in statusData.selectedProblem.inputParams -->
            <span>리턴(정답):</span>
            <span type="statusData.selectedProblem.outputParam.type" parameter-display="testCase.o" language="statusData.recentExamData.language.name" class="ng-isolate-scope"><!-- ngIf: name -->
                <!-- ngIf: type.startsWith('list') -->
                <!-- ngIf: !type.startsWith('list') --><span ng-if="!type.startsWith('list')" class="ng-binding ng-scope">
    <!-- ngIf: type==='string' -->2<!-- ngIf: type==='string' -->
</span><!-- end ngIf: !type.startsWith('list') --></span>
            <!-- ngIf: testCase.description && testCase.description.length > 0 -->
        </li><!-- end ngRepeat: testCase in statusData.selectedProblem.testCaseData --><li ng-repeat="testCase in statusData.selectedProblem.testCaseData" class="ng-scope">
            <!-- ngRepeat: param in statusData.selectedProblem.inputParams --><div ng-repeat="param in statusData.selectedProblem.inputParams" style="margin-bottom: 5px;" name="param.name" type="param.type" parameter-display="testCase.i[$index]" language="statusData.recentExamData.language.name" class="ng-scope ng-isolate-scope"><!-- ngIf: name --><span ng-if="name" class="ng-binding ng-scope">int n =</span><!-- end ngIf: name -->
            <!-- ngIf: type.startsWith('list') -->
            <!-- ngIf: !type.startsWith('list') --><span ng-if="!type.startsWith('list')" class="ng-binding ng-scope">
    <!-- ngIf: type==='string' -->4<!-- ngIf: type==='string' -->
</span><!-- end ngIf: !type.startsWith('list') --></div><!-- end ngRepeat: param in statusData.selectedProblem.inputParams -->
            <span>리턴(정답):</span>
            <span type="statusData.selectedProblem.outputParam.type" parameter-display="testCase.o" language="statusData.recentExamData.language.name" class="ng-isolate-scope"><!-- ngIf: name -->
                <!-- ngIf: type.startsWith('list') -->
                <!-- ngIf: !type.startsWith('list') --><span ng-if="!type.startsWith('list')" class="ng-binding ng-scope">
    <!-- ngIf: type==='string' -->3<!-- ngIf: type==='string' -->
</span><!-- end ngIf: !type.startsWith('list') --></span>
            <!-- ngIf: testCase.description && testCase.description.length > 0 -->
        </li><!-- end ngRepeat: testCase in statusData.selectedProblem.testCaseData -->
        </ol>
    </div>
</div>

</body>
</html>